body {
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background: #eeeeee;
}

.navbar{
    background: hsl(209, 88%, 62%);
}
.navbar-default .navbar-brand{
    text-decoration: none;
    font-size: 25px;

    color: #fff;
}
.navbar-default .navbar-brand:hover{
    color: rgb(245, 182, 182);
}
.navbar-default .navbar-nav>li>a{
    color: #fff;

}
.add-apply{
    width: 100%;
    background: #4aa1f3;
    margin-top: 20px;
    color: white;
    text-shadow: none;
    font-weight: bold;
}
.add-fav{

  width: 100%;
    background: #4aa1f3;
 
    color: white;
    text-shadow: none;
    font-weight: bold;
    padding: 5px 2px 5px 2px;
}

#custom-search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}

#custom-search-input .search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}

#custom-search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #666666;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}


.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.new-search-bar {
    padding-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 52px;
    font-size: 17px;
    border: 1px;
}

.input-btn {
    background: #4aa1f3;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    padding-left: 23px;
    padding-right: 23px;
    border: none;
    height: 52px;
    font-size: 15px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.3px;
    text-shadow:none;
    color:white !important;
}

.search-style {
    width: 50%;
    margin: 0 auto;
}











